__pycache__/ttem_empymods_function.cpython-311.pyc
__pycache__/ttem_empymods_functions.cpython-311.pyc
__pycache__/ttem_empymods.cpython-311.pyc
__pycache__/ttem_forward_function.cpython-311.pyc
__pycache__/ttemempymods.cpython-311.pyc
Waveforms.png
results/*
data/*
__pycache__/*